Repository Rabbittee/JavaScript30, pull requests merged in 2022-01, with the labels that each got.

#11 add Elzuoc's day01 answer
  day01/elzuoc/background.jpg
  day01/elzuoc/index.html
  day01/elzuoc/script.js
  day01/elzuoc/style.css
Labels: day01

#8 feat: 🎸 add day02 kirby
  day02/kirby/index.html
  day02/kirby/script.js
  day02/kirby/script.ts
  day02/kirby/style.css
Labels: day02

#41 feat: 🎸 day 2 alpha's solution
  day02/alpha/.env
  day02/alpha/.gitignore
  day02/alpha/README.md
  day02/alpha/dist/assets/index.06efc2e4.js
  day02/alpha/dist/assets/index.0baeb0a3.css
  day02/alpha/dist/index.html
  day02/alpha/favicon.svg
  day02/alpha/index.html
  day02/alpha/main.js
  day02/alpha/package.json
  day02/alpha/postcss.config.js
  day02/alpha/src/header.js
  day02/alpha/style.css
  day02/alpha/tailwind.config.js
  day02/alpha/vite.config.js
  day02/alpha/yarn.lock
Labels: day02, revised

#10 feat: add day02 haha solution
  day02/haha/README.md
  day02/haha/index.html
  day02/haha/style.css
  day02/haha/utils.js
Labels: day02, ready for review, revised

#43 add day 2 solution - Kevin
  day02/kevin/README.md
  day02/kevin/index.html
  day02/kevin/index.js
  day02/kevin/style.css
Labels: day02, ready for review

#51 feat: 🎸 add day02 Recoil
  day02/recoil/README.md
  day02/recoil/index.html
  day02/recoil/script.js
  day02/recoil/style.css
Labels: day02, Impeccable like Kevin

#73 refactor: 💡 day02 Recoil
  day02/recoil/README.md
  day02/recoil/script.js
Labels: day02, ready for review

#68 Feature/erica day02
  day02/erica/index.html
  day02/erica/readme.md
  day02/erica/script.js
  day02/erica/style.css
Labels: day02, ready for review

#67 refactor: 💡 Kevin day 2
  day02/kevin/index.js
Labels: day02

#63 Feat/day02 kim
  day02/kim/README.md
  day02/kim/index.html
  day02/kim/index.js
  day02/kim/style.css
Labels: day02, revised

#87 feat: 🎸 Add day02 cola solution
  day02/cola/index.html
  day02/cola/script.js
  day02/cola/style.css
  day02/cola/style.scss
Labels: day02, ready for review

#2 day01 haha: adjust structure
  day01/haha/README.md
  day01/haha/index.html
  day01/haha/style.css
  day01/haha/utils.js
Labels: day01, revised

#85 refactor: 💡 renew branch
  day01/alpha/.env
  day01/alpha/.gitignore
  day01/alpha/README.md
  day01/alpha/dist/assets/background.b28ee355.jpg
  day01/alpha/dist/assets/favicon.56ee1306.svg
  day01/alpha/dist/assets/index.ec5c405f.js
  day01/alpha/dist/assets/index.fb88512c.css
  day01/alpha/dist/index.html
  day01/alpha/favicon.svg
  day01/alpha/index.html
  day01/alpha/main.js
  day01/alpha/package.json
  day01/alpha/postcss.config.js
  day01/alpha/src/header.js
  day01/alpha/style.css
  day01/alpha/tailwind.config.js
  day01/alpha/vite.config.js
  day01/alpha/yarn.lock
Labels: day01, revised

#91 fix: 59 to 0 css transition bug (day02)
  day02/Husky/index.html
  day02/Husky/script.js
  day02/Husky/style.css
Labels: day02

#50 feat: 🎸 add day01 Recoil
  day01/recoil/README.md
  day01/recoil/index.html
  day01/recoil/script.js
  day01/recoil/style.css
Labels: day01, revised

#82 add Day02 White's homework
  day02/White/README.md
  day02/White/index.html
  day02/White/script.js
  day02/White/style.css
Labels: day02, revised

#31 add day01 kim
  day01/kim/READ.md
  day01/kim/index.html
  day01/kim/index.js
  day01/kim/style.css
Labels: day01, revised

#56 day01-elzuoc-script.js: adjust variable name & function parameter
  README.md
  day01/elzuoc/README.md
  day01/elzuoc/index.html
  day01/elzuoc/script.js
Labels: day01

#7 feat: 🎸 add day01 kirby solution
  day01/kirby/README.md
  day01/kirby/audio.js
  day01/kirby/audio.ts
  day01/kirby/index.html
Labels: day01, ready for review

#24 Day 1 - Kevin solution!
  day01/kevin/README.md
  day01/kevin/index.html
  day01/kevin/index.js
  day01/kevin/style.css
Labels: day01, ready for review, Impeccable like Kevin

#46 Feature/erica day01
  day01/erica/README.md
  day01/erica/index.html
  day01/erica/script.js
  day01/erica/style.css
Labels: day01, revised

#55 [feature] add day01 husky
  day01/Husky/.gitignore
  day01/Husky/dist/assets/background.b28ee355.jpg
  day01/Husky/dist/assets/boom.bf1a1025.wav
  day01/Husky/dist/assets/clap.08503e34.wav
  day01/Husky/dist/assets/hihat.60673504.wav
  day01/Husky/dist/assets/index.b30d9f2c.css
  day01/Husky/dist/assets/index.f007c295.js
  day01/Husky/dist/assets/kick.7e4f0243.wav
  day01/Husky/dist/assets/openhat.178e58ea.wav
  day01/Husky/dist/assets/ride.ac3ceeac.wav
  day01/Husky/dist/assets/snare.51b6e61b.wav
  day01/Husky/dist/assets/tink.047d06f1.wav
  day01/Husky/dist/assets/tom.c1514e79.wav
  day01/Husky/dist/assets/vendor.ff3df212.js
  day01/Husky/dist/index.html
  day01/Husky/index.html
  day01/Husky/package.json
  day01/Husky/postcss.config.js
  day01/Husky/src/App.tsx
  day01/Husky/src/assets/sound.ts
  day01/Husky/src/components/KeyButton.tsx
  day01/Husky/src/index.css
  day01/Husky/src/main.tsx
  day01/Husky/src/models/Key.ts
  day01/Husky/src/utils/music.ts
  day01/Husky/src/vite-env.d.ts
  day01/Husky/tailwind.config.js
  day01/Husky/tsconfig.json
  day01/Husky/vite.config.ts
Labels: day01, ready for review

#72 Feature/day01 pencil's solution
  day01/pencil/README.md
  day01/pencil/index.html
  day01/pencil/main.js
  day01/pencil/style.css
Labels: day01, ready for review

#74 add Day01 White
  day01/white/README.md
  day01/white/index.html
  day01/white/script.js
  day01/white/style.css
Labels: day01, ready for review

#89 Feature: add day01 plusfive v2 solution
  day01/plusfive/README.md
  day01/plusfive/index.html
  day01/plusfive/main.js
  day01/plusfive/style.css
Labels: day01, ready for review

#79 Feature/erica day03
  day03/erica/index.html
  day03/erica/readme.md
  day03/erica/script.js
  day03/erica/style.css
Labels: day03, ready for review

#81 Feat: kevin day3 solution
  day03/kevin/README.md
  day03/kevin/index.html
  day03/kevin/index.js
  day03/kevin/style.css
Labels: day03, ready for review

#90 feat: 🎸 add day03 Recoil
  day03/recoil/README.md
  day03/recoil/index.html
  day03/recoil/script.js
  day03/recoil/style.css
Labels: day03, ready for review

#93 feature: add day03 husky answer
  day03/Husky/index.html
  day03/Husky/script.js
  day03/Husky/style.css
Labels: day03, ready for review

#12 feat: add day03 haha solution
  day03/haha/README.md
  day03/haha/index.html
  day03/haha/style.css
  day03/haha/utils.js
Labels: day03, ready for review

#94 Feature/day03 pencil
  day03/README.md
  day03/pencil/README.md
  day03/pencil/index.html
  day03/pencil/main.js
  day03/pencil/style.css
Labels: day03, ready for review

#9 feat: 🎸 add day03 kirby
  day03/kirby/index.html
  day03/kirby/script.js
  day03/kirby/script.ts
  day03/kirby/style.css
Labels: day03, ready for review

#88 Feat: add day03 plusfive solution
  day03/plusfive/README.md
  day03/plusfive/index.html
  day03/plusfive/main.js
  day03/plusfive/style.css
Labels: day03, need to revise

#99 feat: 🎸 add alpha's day3 solution
  day03/alpha/.gitignore
  day03/alpha/README.md
  day03/alpha/dist/assets/favicon.17e50649.svg
  day03/alpha/dist/assets/index.b5aaac96.css
  day03/alpha/dist/assets/index.ca9175fb.js
  day03/alpha/dist/index.html
  day03/alpha/favicon.svg
  day03/alpha/index.html
  day03/alpha/main.js
  day03/alpha/package.json
  day03/alpha/postcss.config.js
  day03/alpha/style.css
  day03/alpha/tailwind.config.js
  day03/alpha/vite.config.js
  day03/alpha/yarn.lock
Labels: day03, ready for review

#101 fix day03 immediately variety
  day03/haha/utils.js
Labels: day03

#104 refactor: 💡 day03 Recoil
  day03/recoil/script.js
  day03/recoil/style.css
Labels: day03, ready for review

#107 fix: 🐛 fix init and missing element
  day03/kirby/script.js
  day03/kirby/script.ts
  day03/kirby/style.css
Labels: day03

#118 docs: ✏️ Create README.md
  day04/sample/README.md
Labels: day04

#15 feat: 🎸 add day04 kirby
  day04/kirby/index.html
  day04/kirby/script.js
  day04/kirby/script.ts
Labels: day04, ready for review

#125 feature: add day04 Recoil
  day04/recoil/README.md
  day04/recoil/index.html
  day04/recoil/script.js
  day04/recoil/style.css
Labels: day04, revised

#129 feat: add day04 Erica solution
  day04/erica/data.js
  day04/erica/index.html
  day04/erica/readme.md
  day04/erica/script.js
  day04/erica/style.css
  day04/erica/utils.js
Labels: day04, need to revise

#143 feat: 🎸 add day05 Recoil
  day05/recoil/README.md
  day05/recoil/index.html
  day05/recoil/script.js
  day05/recoil/style.css
Labels: day05, ready for review

#141 feat: add Kata day4 solution
  day04/kata/index.html
  day04/kata/script.js
Labels: day04, ready for review

#30 feat: add day04 haha solution
  day04/haha/README.md
  day04/haha/index.html
  day04/haha/utils.js
Labels: day04, ready for review

#96 feat: 🎸 add Kevin day 4 solution
  day04/kevin/README.md
  day04/kevin/index.html
  day04/kevin/index.js
Labels: day04, ready for review, revised

#117 feat: 🎸 add alpha's day4 solution
  day04/alpha/README.md
  day04/alpha/index.html
  day04/alpha/main.js
  day04/alpha/src/data.js
  day04/alpha/src/inventors.js
  day04/alpha/src/people.js
Labels: day04, revised

#142 Feature: add day04 pencil's answer
  day04/pencil/index.html
  day04/pencil/main.js
Labels: day04, need to revise

#136 add day04 kim
  day04/kim/kim/README.md
  day04/kim/kim/index.html
  day04/kim/kim/index.js
Labels: day04, need to revise

#120 feat: 🎸 add day04 husky answer
  day04/Husky/index.html
  day04/Husky/main.js
Labels: day04, need to revise

#145 feature: add day04 plusfive's answer
  day04/plusfive/README.md
  day04/plusfive/data.js
  day04/plusfive/index.html
  day04/plusfive/main.js
Labels: day04, need to revise

#146 feature: day05 husky homework
  day05/Husky/images/Episode_18_Eyecatcher_A_z.png
  day05/Husky/images/Episode_30_Eyecatcher_B_z.png
  day05/Husky/images/Episode_31_Eyecatcher_A_z.png
  day05/Husky/images/Episode_36_Eyecatcher_B_z.png
  day05/Husky/images/嘴平伊之助.png
  day05/Husky/images/我妻善逸.png
  day05/Husky/images/竈門炭治郎.png
  day05/Husky/images/竈門禰豆子.png
  day05/Husky/index.html
  day05/Husky/main.js
  day05/Husky/style.css
Labels: day05

#149 docs: ✏️ update day05 README.md Recoil
  day05/README.md
Labels: day05

#105 feat: add kevin day 5 solution
  day05/kevin/README.md
  day05/kevin/index.html
  day05/kevin/index.js
  day05/kevin/style.css
Labels: day05, Impeccable like Kevin

#20 feat: 🎸 add day05 kirby
  day05/kirby/index.html
  day05/kirby/script.js
  day05/kirby/script.ts
  day05/kirby/style.css
Labels: day05, revised, Impeccable like Kevin

#135 doc: rename alpha's day5 readme's title
  day05/alpha/.env
  day05/alpha/.gitignore
  day05/alpha/README.md
  day05/alpha/dist/assets/favicon.17e50649.svg
  day05/alpha/dist/assets/index.2ff0e305.js
  day05/alpha/dist/assets/index.9488f879.css
  day05/alpha/dist/index.html
  day05/alpha/favicon.svg
  day05/alpha/index.html
  day05/alpha/main.js
  day05/alpha/package.json
  day05/alpha/postcss.config.js
  day05/alpha/src/header.js
  day05/alpha/style.css
  day05/alpha/tailwind.config.js
  day05/alpha/yarn.lock
Labels: day05, ready for review, Impeccable like Kevin

#150 fix: 🐛 add vite base url
  day05/alpha/dist/index.html
  day05/alpha/vite.config.js
Labels: day05

#138 feat: add day05 Erica solution
  day05/erica/README.md
  day05/erica/css/_base.scss
  day05/erica/css/_circle-text.scss
  day05/erica/css/_panels.scss
  day05/erica/css/_vars.scss
  day05/erica/css/style.css
  day05/erica/css/style.scss
  day05/erica/images/dune-poster-01.jpg
  day05/erica/images/dune-poster-02.jpg
  day05/erica/images/dune-poster-03.jpg
  day05/erica/images/dune-poster-04.jpg
  day05/erica/images/dune-poster-05.jpg
  day05/erica/index.html
  day05/erica/scripts/circleText.js
  day05/erica/scripts/index.js
  day05/erica/scripts/panels.js
  day05/erica/scripts/script.js
  package-lock.json
  yarn.lock
Labels: day05

#140 add White day03 homework
  day03/White/README.md
  day03/White/index.html
  day03/White/script.js
  day03/White/style.css
Labels: day03, ready for review

#152 Feature/ add day05 haha
  day05/haha/README.md
  day05/haha/index.html
  day05/haha/style.css
  day05/haha/utils.js
Labels: day05

#157 docs: ✏️ fixed day05 readme content
  day05/README.md
Labels: day05

#158 Feat: add day05 plusfive's answer
  day05/plusfive/README.md
  day05/plusfive/index.html
  day05/plusfive/main.js
  day05/plusfive/style.css
Labels: day05, ready for review

#155 Feature: add day05 pencil's solution
  day05/pencil/index.html
  day05/pencil/main.js
  day05/pencil/style.css
Labels: day05, ready for review

#154 Feat/day05 kata
  day05/kata/README.md
  day05/kata/index.html
  day05/kata/script.js
  day05/kata/style.css
Labels: day05, ready for review

#84 feat: 🎸 add day06 Recoil
  day06/recoil/README.md
  day06/recoil/index.html
  day06/recoil/script.js
  day06/recoil/style.css
Labels: day06, ready for review

#86 feat: add day06 haha
  day06/haha/README.md
  day06/haha/index.html
  day06/haha/style.css
  day06/haha/utils.js
Labels: day06

#156 feat: Add kevin day 6 solution
  day06/kevin/README.md
  day06/kevin/images/wowpatterns-export.jpeg
  day06/kevin/index.html
  day06/kevin/js/index.js
  day06/kevin/style/_keyframes.scss
  day06/kevin/style/style.css
  day06/kevin/style/style.scss
Labels: day06, ready for review

#164 feat: add husky day06 answer
  day06/Husky/.gitignore
  day06/Husky/dist/assets/favicon.e211ee26.png
  day06/Husky/dist/assets/index.45465b19.js
  day06/Husky/dist/assets/index.64111b72.css
  day06/Husky/dist/assets/mapbox-gl.67f9c8d3.js
  day06/Husky/dist/assets/mapbox-gl.87c137a6.css
  day06/Husky/dist/index.html
  day06/Husky/index.html
  day06/Husky/package-lock.json
  day06/Husky/package.json
  day06/Husky/postcss.config.js
  day06/Husky/src/assets/favicon.png
  day06/Husky/src/config.ts
  day06/Husky/src/interfaces.ts
  day06/Husky/src/main.ts
  day06/Husky/src/map.ts
  day06/Husky/src/style.css
  day06/Husky/src/utils.ts
  day06/Husky/src/vite-env.d.ts
  day06/Husky/tailwind.config.js
  day06/Husky/tsconfig.json
  day06/Husky/vite.config.js
Labels: day06, ready for review

#168 add Day06 white's answer
  day06/White/README.md
  day06/White/index.html
  day06/White/script.js
  day06/White/style.css
Labels: day06, ready for review

#169 feat: add Erica day06 solution
  day02/cola/style.css
  day06/erica/index.html
  day06/erica/scripts/fetch.js
  day06/erica/scripts/index.js
  day06/erica/scripts/update.js
  day06/erica/scripts/utils.js
  day06/erica/style.css
  day06/erica/style.scss
  day06/sample/index.html
Labels: day06, ready for review

#170 Feat: add day06 plusfive's answer
  day06/plusfive/README.md
  day06/plusfive/america-1861417.svg
  day06/plusfive/data.json
  day06/plusfive/index.html
  day06/plusfive/main.js
  day06/plusfive/style.css
Labels: day06, ready for review

#36 feat: 🎸 add day07 kirby
  day07/kirby/index.html
  day07/kirby/script.js
  day07/kirby/script.ts
Labels: day07, ready for review

#60 feat: 🎸 add day07 Recoil
  day07/recoil/README.md
  day07/recoil/index.html
  day07/recoil/script.js
Labels: day07

#165 Feature/ add day07 haha
  day07/haha/README.md
  day07/haha/assets/Stuart.jpg
  day07/haha/assets/Tim.jpg
  day07/haha/assets/jump.png
  day07/haha/assets/smart.jpg
  day07/haha/assets/stupid.png
  day07/haha/assets/吉他小子.jpg
  day07/haha/assets/小小兵2.jpg
  day07/haha/assets/小小兵3.jpg
  day07/haha/assets/熊熊飛高高.jpg
  day07/haha/assets/醜.jpg
  day07/haha/index.html
  day07/haha/style.css
  day07/haha/utils.js
Labels: day07, ready for review

#166 feat: add day 7 kevin solution
  day07/kevin/index.html
  day07/kevin/index.js
  day07/kevin/style/style.css
  day07/kevin/style/style.scss
Labels: day07, ready for review

#175 feat: 🎸 add day07 husky answer
  day07/Husky/index.html
  day07/Husky/main.js
  day07/Husky/main.ts
Labels: day07, ready for review

#177 feat: add day07 erica solution
  day07/erica/index.html
  day07/erica/script.js
Labels: day07

#174 Feature: add day07 pencil's solution
  day07/pencil/index.html
  day07/pencil/main.js
Labels: day07, ready for review

#123 Feature: add day02 pencil's solution
  day02/pencil/README.md
  day02/pencil/index.html
  day02/pencil/main.js
  day02/pencil/style.css
Labels: day02, ready for review
