Repository Rabbittee/JavaScript30, pull requests merged in 2022-02, with the labels that each got.

#167 feat: 🎸 add alpha's day06 solution
  day06/alpha/README.md
  day06/alpha/css/_animate.scss
  day06/alpha/css/_base.scss
  day06/alpha/css/_header.scss
  day06/alpha/css/_main.scss
  day06/alpha/css/_vars.scss
  day06/alpha/css/style.css
  day06/alpha/css/style.scss
  day06/alpha/favicon.svg
  day06/alpha/index.html
  day06/alpha/js/fetch.js
  day06/alpha/js/header.js
  day06/alpha/js/main.js
Labels: day06, ready for review, revised

#182 Feature/day08 kim
  day08/kim/README.md
  day08/kim/index.html
  day08/kim/index.js
  day08/kim/style.css
Labels: day08, ready for review, need to revise

#183 feat: 🎸 add alpha's day08 solution
  day08/alpha/.gitignore
  day08/alpha/README.md
  day08/alpha/dist/assets/favicon.56ee1306.svg
  day08/alpha/dist/assets/index.4504727d.js
  day08/alpha/dist/assets/index.f8ddbfe3.css
  day08/alpha/dist/index.html
  day08/alpha/favicon.svg
  day08/alpha/index.html
  day08/alpha/package.json
  day08/alpha/postcss.config.js
  day08/alpha/src/main.ts
  day08/alpha/src/style.css
  day08/alpha/src/vite-env.d.ts
  day08/alpha/tailwind.config.js
  day08/alpha/tsconfig.json
  day08/alpha/vite.config.js
  day08/alpha/yarn.lock
Labels: day08, ready for review

#185 Feature/add day08 haha
  day08/haha/RADME.md
  day08/haha/index.html
  day08/haha/slider.css
  day08/haha/style.css
  day08/haha/utils.js
Labels: day08, ready for review

#40 feat: 🎸 add day08 kirby
  day08/kirby/index.html
  day08/kirby/script.js
  day08/kirby/script.ts
Labels: day08, need to revise

#189 feat: add day08 plusfive's answer
  day08/plusfive/README.md
  day08/plusfive/eraser.svg
  day08/plusfive/index.html
  day08/plusfive/main.js
  day08/plusfive/style.css
Labels: day08, ready for review

#102 feat: 🎸 add day08 Recoil
  day08/recoil/README.md
  day08/recoil/index.html
  day08/recoil/script.js
  day08/recoil/style.css
Labels: day08, need to revise

#191 feat: day08 husky answer
  day08/Husky/README.md
  day08/Husky/background/01.jpeg
  day08/Husky/background/02.jpeg
  day08/Husky/background/03.jpeg
  day08/Husky/clean.svg
  day08/Husky/index.html
  day08/Husky/main.js
  day08/Husky/main.ts
  day08/Husky/style.css
Labels: day08, ready for review

#194 fix: 🐛 mobile touchmove event preventDefault
  day08/Husky/main.js
  day08/Husky/main.ts
Labels: day08

#42 feat: 🎸 add day09 kirby
  day09/kirby/index.html
  day09/kirby/script.js
  day09/kirby/script.ts
Labels: day09, ready for review

#188 feat: 🎸 add day09-haha
  day09/haha/README.md
  day09/haha/index.html
  day09/haha/utils.js
Labels: day09, ready for review

#184 feat: 🎸 add alpha's day09 solution
  day09/alpha/README.md
  day09/alpha/favicon.svg
  day09/alpha/index.html
  day09/alpha/main.js
Labels: day09, ready for review

#181 feat: add kevin day 09 solution
  day09/kevin/index.html
  day09/kevin/index.js
Labels: day09, ready for review

#193 feat: 🎸 add day09 kim
  day09/kim/index.html
  day09/kim/index.js
Labels: day09

#176 feat: 🎸 add day07 kim answer
  day07/kim/README.md
  day07/kim/index.html
  day07/kim/index.js
  day07/kim/style.css
Labels: day07, revised

#195 feat: 🎸 add day10 recoil
  day10/recoil/index.html
  day10/recoil/script.js
  day10/recoil/style.css
Labels: day10

#198 feat: add day10 plusfive's answer
  day10/plusfive/README.md
  day10/plusfive/index.html
  day10/plusfive/main.js
  day10/plusfive/style.css
Labels: day10, ready for review

#201 feat: add kevin day 10 solution
  day10/kevin/README.md
  day10/kevin/index.html
  day10/kevin/index.js
  day10/kevin/style.css
Labels: day10, Impeccable like Kevin

#200 feat: 🎸 add day14 kim
  day14/kim/README.md
  day14/kim/index.html
  day14/kim/index.js
Labels: day14

#180 feat: 🎸 add alpha's day07 solution
  day07/alpha/README.md
  day07/alpha/favicon.svg
  day07/alpha/index.html
  day07/alpha/js/main.js
  day07/alpha/src/comments.js
  day07/alpha/src/people.js
Labels: day07, ready for review

#204 Feature: add day10 pencil's solution
  day10/pencil/index.html
  day10/pencil/main.js
  day10/pencil/style.css
Labels: day10, ready for review

#203 Feature/add day14 haha
  day14/haha/index.html
  day14/haha/utils.js
Labels: day14

#199 feat: 🎸 add day10 kim
  day10/kim/README.md
  day10/kim/index.html
  day10/kim/index.js
  day10/kim/style.css
Labels: day10, revised

#197 Feature: add day09 pencil's solution
  day09/pencil/index.html
  day09/pencil/main.js
Labels: day09, ready for review

#178 Feature: add day06 pencil's solution
  day06/pencil/README.md
  day06/pencil/index.html
  day06/pencil/main.js
  day06/pencil/style.css
Labels: day06, ready for review, need to revise

#49 feat: 🎸 add day10 kirby
  day10/kirby/index.html
  day10/kirby/script.js
  day10/kirby/script.ts
  day10/kirby/style.css
Labels: day10, ready for review

#52 feat: 🎸 add day11 kirby
  day11/kirby/index.html
  day11/kirby/scripts.js
  day11/kirby/scripts.ts
Labels: day11, ready for review

#209 feat: 🎸 add kevin day 11 solution
  day11/kevin/README.md
  day11/kevin/index.html
  day11/kevin/index.js
  day11/kevin/style.css
Labels: day11, ready for review

#206 feat: add day11 Recoil
  day11/recoil/README.md
  day11/recoil/assets/fullscreen-svgrepo-com.svg
  day11/recoil/index.html
  day11/recoil/script.js
  day11/recoil/style.css
Labels: day11, ready for review

#54 feat: 🎸add day12 kirby
  day12/kirby/index.html
  day12/kirby/script.js
  day12/kirby/script.ts
Labels: day12, ready for review

#208 feat: 🎸 add day12 kim
  day12/kim/README.md
  day12/kim/index.html
  day12/kim/index.js
  day12/kim/style.css
Labels: day12, ready for review

#223 Feature/add day12 haha
  day12/haha/README.md
  day12/haha/index.html
  day12/haha/style.css
  day12/haha/utils.js
  day12/kirby/script.js
  day12/kirby/script.ts
Labels: day12, ready for review

#69 feat: 🎸 add day13 kirby
  day13/kirby/index.html
  day13/kirby/script.js
  day13/kirby/script.ts
  day13/kirby/style.css
Labels: day13, ready for review

#220 feat: 🎸 add day13 recoil
  day13/recoil/README.md
  day13/recoil/index.html
  day13/recoil/script.js
  day13/recoil/style.css
Labels: day13, ready for review

#217 Feature: add day13 pencil's solution
  day13/pencil/index.html
  day13/pencil/main.js
  day13/pencil/style.css
Labels: day13, ready for review

#215 Feature: add day 12 plusfive answer
  day12/plusfive/README.md
  day12/plusfive/index.html
  day12/plusfive/main.js
Labels: day12, ready for review

#210 Feature: add day11 plusfive answer
  day11/plusfive/README.md
  day11/plusfive/favico.ico
  day11/plusfive/index.html
  day11/plusfive/scripts.js
  day11/plusfive/static/attack-on-titan.png
  day11/plusfive/static/avatar.png
  day11/plusfive/static/background.jpg
  day11/plusfive/style.css
Labels: day11, ready for review

#229 feature: add day 13 plusfive answer
  day13/plusfive/README.md
  day13/plusfive/index.html
  day13/plusfive/main.js
  day13/plusfive/style.css
Labels: day13, ready for review

#228 feat: 🎸 add haha solution
  day13/haha/README.md
  day13/haha/index.html
  day13/haha/style.css
  day13/haha/utils.js
Labels: day13, ready for review

#219 feat: 🎸 add day12 recoil
  day12/recoil/README.md
  day12/recoil/index.html
  day12/recoil/script.js
Labels: day12, ready for review

#224 feat: 🎸 add day12 pencil's solution
  day12/pencil/index.html
  day12/pencil/main.js
Labels: day12, ready for review

#230 feat: 🎸 add alpha's day15 solution
  day15/alpha/.gitignore
  day15/alpha/README.md
  day15/alpha/dist/assets/favicon.17e50649.svg
  day15/alpha/dist/assets/index.7b0ccc13.js
  day15/alpha/dist/assets/index.e0f0ee19.css
  day15/alpha/dist/assets/oh-la-la.0f367847.jpeg
  day15/alpha/dist/index.html
  day15/alpha/favicon.svg
  day15/alpha/index.html
  day15/alpha/package.json
  day15/alpha/src/main.ts
  day15/alpha/src/style.css
  day15/alpha/src/vite-env.d.ts
  day15/alpha/tsconfig.json
  day15/alpha/vite.config.js
  day15/alpha/yarn.lock
Labels: day15

#221 feat: 🎸 add day15 recoil
  day15/recoil/README.md
  day15/recoil/index.html
  day15/recoil/script.js
  day15/recoil/style.css
Labels: day15

#232 feat: add Erica day13 solution
  day13/Erica/index.html
  day13/Erica/src/scripts.js
  day13/Erica/src/style.css
  day13/Erica/src/style.scss
Labels: day13, ready for review

#239 Feature: add day15 pencil's solution
  day15/pencil/index.html
  day15/pencil/main.js
Labels: day15, ready for review

#238 Feature: add day15 plusfive's answer
  day15/plusfive/index.html
  day15/plusfive/main.js
  day15/plusfive/style.css
Labels: day15, ready for review

#71 feat: 🎸 add day15 kirby
  day15/kirby/index.html
  day15/kirby/script.js
  day15/kirby/script.ts
Labels: day15, ready for review

#231 feat: 🎸 add kevin day 15 solution
  day15/kevin/README.md
  day15/kevin/index.html
  day15/kevin/index.js
  day15/kevin/style.css
Labels: day15, ready for review

#240 Feature/add day15 haha
  day15/haha/README.md
  day15/haha/index.html
  day15/haha/style.css
  day15/haha/utils.js
Labels: day15, ready for review, Impeccable like Kevin

#75 feat: 🎸 add day16 kirby
  day16/kirby/index.html
  day16/kirby/script.js
  day16/kirby/script.ts
  day16/kirby/style.css
Labels: day16, Impeccable like Kevin

#242 day16 add White's answer
  day16/White/README.md
  day16/White/index.html
  day16/White/script.js
  day16/White/style.css
Labels: day16, Impeccable like Kevin

#243 Feat: add Day16 pencil's solution
  day16/pencil/README.md
  day16/pencil/index.html
  day16/pencil/main.js
  day16/pencil/main.ts
  day16/pencil/style.css
Labels: day16, Impeccable like Kevin

#233 feat: 🎸 add alpha's day16 solution
  day16/alpha/.gitignore
  day16/alpha/README.md
  day16/alpha/dist/assets/favicon.56ee1306.svg
  day16/alpha/dist/assets/index.46580a02.css
  day16/alpha/dist/assets/index.df18bf08.js
  day16/alpha/dist/index.html
  day16/alpha/favicon.svg
  day16/alpha/index.html
  day16/alpha/package.json
  day16/alpha/src/main.ts
  day16/alpha/src/style.css
  day16/alpha/src/vite-env.d.ts
  day16/alpha/tsconfig.json
  day16/alpha/vite.config.js
  day16/alpha/yarn.lock
Labels: day16, Impeccable like Kevin

#244 Feature: add day17 pencil's solution
  day17/pencil/README.md
  day17/pencil/index.html
  day17/pencil/main.js
  day17/pencil/main.ts
  day17/pencil/style.css
Labels: day17, Impeccable like Kevin

#235 feat: 🎸 add alpha's day17 solution
  day17/alpha/.gitignore
  day17/alpha/README.md
  day17/alpha/dist/assets/favicon.3e640bbc.svg
  day17/alpha/dist/assets/index.9664890b.css
  day17/alpha/dist/assets/index.b8568af6.js
  day17/alpha/dist/index.html
  day17/alpha/favicon.svg
  day17/alpha/index.html
  day17/alpha/package.json
  day17/alpha/src/main.ts
  day17/alpha/src/style.css
  day17/alpha/src/vite-env.d.ts
  day17/alpha/tsconfig.json
  day17/alpha/vite.config.js
  day17/alpha/yarn.lock
Labels: day17, Impeccable like Kevin

#76 feat: 🎸 add day17 kirby
  day17/kirby/index.html
  day17/kirby/script.js
  day17/kirby/script.ts
  day17/kirby/style.css
Labels: day17, Impeccable like Kevin

#247 add Day16 haha
  day16/haha/REDME.md
  day16/haha/index.html
  day16/haha/style.css
  day16/haha/utils.js
Labels: day16, Impeccable like Kevin

#246 feature: add plusfive day16 answer
  day16/plusfive/README.md
  day16/plusfive/index.html
  day16/plusfive/main.js
  day16/plusfive/main.ts
  day16/plusfive/style.css
Labels: day16, Impeccable like Kevin

#226 feat: add day16 recoil
  day16/recoil/index.html
  day16/recoil/script.js
  day16/recoil/style.css
Labels: day16, ready for review

#251 feat: 🎸 add kevin day 17 solution
  day17/kevin/README.md
  day17/kevin/index.html
  day17/kevin/index.js
  day17/kevin/style.css
Labels: day17, ready for review

#250 feat: 🎸 add kevin day 16 solution
  day16/kevin/README.md
  day16/kevin/index.html
  day16/kevin/index.js
  day16/kevin/style.css
Labels: day16, ready for review

#249 feat: 🎸 add haha day17 solution
  day17/haha/README.md
  day17/haha/index.html
  day17/haha/style.css
  day17/haha/utils.js
Labels: day17, ready for review

#245 feat: 🎸 add day17 recoil
  day17/recoil/README.md
  day17/recoil/index.html
  day17/recoil/script.js
  day17/recoil/style.css
Labels: day17, ready for review

#207 feat: 🎸 add day11 kim
  day11/kim/README.md
  day11/kim/index.html
  day11/kim/scripts.js
  day11/kim/style.css
Labels: day11, ready for review

#222 feat: 🎸 add day13 kim
  day13/kim/README.md
  day13/kim/index.html
  day13/kim/index.js
  day13/kim/style.css
Labels: day13, ready for review

#254 feat: 🎸 add kevin day 20 solution
  day20/kevin/README.md
  day20/kevin/index.html
  day20/kevin/index.js
  day20/kevin/style.css
Labels: day20, Impeccable like Kevin

#256 feature: add day 20 plusfive answer
  day20/plusfive/README.md
  day20/plusfive/index.html
  day20/plusfive/main.js
  day20/plusfive/style.css
Labels: day20

#119 feat: 🎸 add day20 kirby
  day20/kirby/index.html
  day20/kirby/script.js
  day20/kirby/style.css
Labels: day20, ready for review
