Repository Rabbittee/JavaScript30, pull requests merged in 2022-03, with the labels that each got.

#257 Feature: add day20 pencil's solution
  day20/pencil/index.html
  day20/pencil/main.js
  day20/pencil/style.css
Labels: day20, ready for review

#261 Feature/add day18 haha
  day18/haha/RREADME.md
  day18/haha/index.html
  day18/haha/utils.js
Labels: day18, ready for review

#236 feat: 🎸 add alpha's day18 solution
  day18/alpha/.gitignore
  day18/alpha/README.md
  day18/alpha/dist/assets/favicon.56ee1306.svg
  day18/alpha/dist/assets/index.06d14ce2.css
  day18/alpha/dist/assets/index.9fcc0e8c.js
  day18/alpha/dist/index.html
  day18/alpha/favicon.svg
  day18/alpha/index.html
  day18/alpha/package.json
  day18/alpha/src/main.ts
  day18/alpha/src/style.css
  day18/alpha/src/vite-env.d.ts
  day18/alpha/tsconfig.json
  day18/alpha/vite.config.js
  day18/alpha/yarn.lock
Labels: day18, ready for review

#77 feat: 🎸 add day18 kirby
  day18/kirby/index.html
  day18/kirby/script.js
  day18/kirby/script.ts
Labels: day18, ready for review

#260 feat: 🎸 add day20 recoil
  day20/recoil/index.html
  day20/recoil/script.js
  day20/recoil/style.css
Labels: day20, ready for review

#262 feature: add day 18 plusfive answer
  day18/plusfive/index.html
  day18/plusfive/main.js
Labels: day18, ready for review

#95 feat: 🎸 add day19 kirby
  day19/kirby/README.md
  day19/kirby/index.html
  day19/kirby/scripts.js
  day19/kirby/scripts.ts
Labels: day19, ready for review

#277 feat: 🎸 add day21 pencil solution
  day21/pencil/index.html
  day21/pencil/main.js
  day21/pencil/style.css
Labels: day21, ready for review

#281 feature: add day21 plusfive answer
  day21/plusfive/README.md
  day21/plusfive/index.html
  day21/plusfive/main.js
  day21/plusfive/style.css
Labels: day21, ready for review

#273 feat: 🎸 add day21 recoil
  day21/recoil/index.html
  day21/recoil/script.js
  day21/recoil/style.css
Labels: day21, ready for review

#267 feat: 🎸 add kevin day 21 solution
  day21/kevin/index.html
  day21/kevin/index.js
  day21/kevin/style.css
Labels: day21, ready for review

#278 feat: husky day21
  day21/Husky/images/direction.png
  day21/Husky/images/pikachu.gif
  day21/Husky/index.html
  day21/Husky/main.js
  day21/Husky/style.css
  day21/README.md
Labels: day21

#271 feat: 🎸 add kevin day 24 solution
  day24/kevin/index.html
  day24/kevin/index.js
  day24/kevin/style.css
Labels: day24, ready for review

#268 feat: 🎸 add kevin day 22 solution
  day22/kevin/index.html
  day22/kevin/index.js
Labels: day22, ready for review

#282 feat: 🎸 add day22 recoil
  day22/recoil/index.html
  day22/recoil/script.js
  day22/recoil/style.css
Labels: day22, ready for review

#276 feat: 🎸 add day22 pencil solution
  day22/pencil/index.html
  day22/pencil/main.js
Labels: day22, ready for review

#275 feat: 🎸 add day22 haha
  day22/haha/README.md
  day22/haha/index.html
  day22/haha/style.css
  day22/haha/utils.js
Labels: day22, ready for review

#285 feat: 🎸 add day23 recoil
  day23/recoil/index.html
  day23/recoil/script.js
  day23/recoil/style.css
Labels: day23, ready for review

#173 feat: 🎸 add day23 kirby
  day23/kirby/index.html
  day23/kirby/script.js
  day23/kirby/script.ts
Labels: day23

#287 Feature: add day23 pencil's solution
  day23/pencil/index.html
  day23/pencil/main.js
Labels: day23, ready for review

#284 feature: add day23 plusfive answer
  day23/plusfive/README.md
  day23/plusfive/index.html
  day23/plusfive/main.js
Labels: day23, ready for review

#289 feat: 🎸 add day25 kim
  day25/kim/index.html
  day25/kim/index.js
Labels: day25, ready for review

#280 feature: add day22 plusfive answer
  day22/plusfive/README.md
  day22/plusfive/index.html
  day22/plusfive/main.js
Labels: day22, ready for review

#293 feat: 🎸 alpha day26 solution
  day26/alpha/.gitignore
  day26/alpha/README.md
  day26/alpha/dist/assets/favicon.56ee1306.svg
  day26/alpha/dist/assets/index.582bf4d0.css
  day26/alpha/dist/assets/index.5dcdaf73.js
  day26/alpha/dist/index.html
  day26/alpha/favicon.svg
  day26/alpha/index.html
  day26/alpha/package.json
  day26/alpha/src/main.ts
  day26/alpha/src/style.css
  day26/alpha/src/vite-env.d.ts
  day26/alpha/tsconfig.json
  day26/alpha/vite.config.js
  day26/alpha/yarn.lock
Labels: day26, ready for review

#292 feat: 🎸 add day26 pencil's solution
  day26/pencil/index.html
  day26/pencil/main.js
  day26/pencil/style.css
Labels: day26, ready for review

#248 feat: 🎸 add day26 kirby
  day26/kirby/base.css
  day26/kirby/index.html
  day26/kirby/script.js
  day26/kirby/script.ts
  day26/kirby/style.css
Labels: day26, ready for review

#290 feat: add day26 recoil
  day26/recoil/index.html
  day26/recoil/script.js
  day26/recoil/style.css
Labels: day26, ready for review

#295 feature: add day 27 plusfive's answer
  day27/plusfive/README.md
  day27/plusfive/index.html
  day27/plusfive/main.js
Labels: day27

#296 feat: add day27 pencil's solution
  day27/pencil/index.html
  day27/pencil/main.js
Labels: day27

#294 feat: 🎸 add day27 recoil
  day27/recoil/index.html
  day27/recoil/script.js
  day27/recoil/style.css
Labels: day27, ready for review

#301 Feature: add day29 plusfive answer
  day29/plusfive/README.md
  day29/plusfive/index.html
  day29/plusfive/main.js
  day29/plusfive/main.ts
Labels: day29, Impeccable like Kevin

#300 feat: 🎸 add kevin day 29 solution
  day29/kevin/index.html
  day29/kevin/scripts.js
Labels: day29, need to revise

#266 feat: 🎸 add day29 kirby
  day29/kirby/index.html
  day29/kirby/scripts.js
  day29/kirby/scripts.ts
Labels: day29, ready for review

#298 Feature: add day29 pencil's solution
  day29/pencil/index.html
  day29/pencil/scripts.js
Labels: day29, ready for review

#299 feat: add day29 recoil
  day29/recoil/index.html
  day29/recoil/script.js
  day29/recoil/style.css
Labels: day29, ready for review

#269 feat: 🎸 add day30 kirby
  day30/kirby/index.html
  day30/kirby/script.js
  day30/kirby/script.ts
Labels: day30, ready for review

#304 feat: 🎸 add day30 kim
  day30/kim/README.md
  day30/kim/index.html
  day30/kim/index.js
  day30/kim/style.css
Labels: day30, ready for review

#306 feat: 🎸 add day30 pencil's solution
  day30/pencil/index.html
  day30/pencil/main.js
Labels: day30, ready for review

#307 feat: 🎸 add kevin day 30 solution
  day30/kevin/index.html
  day30/kevin/index.js
  day30/kevin/style.css
Labels: day30, ready for review

#308 Feature: add day11 pencil's solution
  day11/pencil/icon/high_vol.svg
  day11/pencil/icon/low_vol.svg
  day11/pencil/icon/mute.svg
  day11/pencil/icon/pausing.svg
  day11/pencil/icon/playing.svg
  day11/pencil/icon/replay.svg
  day11/pencil/index.html
  day11/pencil/js/main.js
  day11/pencil/js/utils.js
  day11/pencil/style.css
Labels: day11, ready for review
